.env
venv

# =========================
# BACKEND (Django & Python)
# =========================
# Python cache
__pycache__/
*.py[cod]
*$py.class
*.sqlite3

# =========================
# FRONTEND (React & Node)
# =========================
node_modules/
dist/
build/
.eslintcache
npm-debug.log*

# =========================
# SISTEMA OPERATIVO Y VS CODE
# =========================
.DS_Store
Thumbs.db
.vscode/